body {
    font-family: 'Montserrat', sans-serif;
}

.buscador {
    width: 100%;
    height: 56px;
    margin-top: 60px;
    padding-left: 10px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #9B9B9B;
}

#map {
    height: 300px;
    margin-top: 40px;
}

.imagenFondo {
    background-image: url(../../img/foto2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo {
    margin-top: 15px;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    background-color: #EC5B55;
    text-align: center;
    margin-top: 60px;
}

.titulo {
    color: rgb(83, 83, 83);
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.bajada {
    color: rgb(83, 83, 83);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.botonInicio {
    width: 120px;
    height: 46px;
    background-color: white;
    border: 3px solid #49c5b6;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.botonRegistro {
    width: 120px;
    height: 46px;
    background-color: #49c5b6;
    border: 3px solid #49c5b6;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}