body {
    font-family: 'Montserrat', sans-serif;
}

.buscador {
    width: 100%;
    height: 56px;
    margin-top: 60px;
    padding-left: 10px;
    font-size: 14px;
    border: 0px solid #9B9B9B;
    color: rgb(83, 83, 83);
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}

.botonBuscar {
    height: 56px;
    width: 90px;
    margin-top: 60px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #EC5B55;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border: 0px solid #9b9b9b;
}

.botonBuscar:hover {
    height: 56px;
    width: 90px;
    margin-top: 60px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgb(218, 81, 76);
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border: 0px solid #9b9b9b;
}

#map {
    height: 300px;
    margin-top: 40px;
}

.imagenFondo {
    background-image: url(../../img/foto2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo {
    margin-top: 15px;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    background-color: #EC5B55;
    text-align: center;
    margin-top: 60px;
}

.titulo {
    color: rgb(83, 83, 83);
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.bajada {
    color: rgb(83, 83, 83);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.botonInicio {
    width: 130px;
    height: 46px;
    background-color: white;
    border: 3px solid #49c5b6;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.botonInicio:hover {
    width: 130px;
    height: 46px;
    background-color: white;
    border: 3px solid #41b3a5;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.botonRegistro {
    width: 120px;
    height: 46px;
    background-color: #49c5b6;
    border: 3px solid #49c5b6;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.botonRegistro:hover {
    width: 120px;
    height: 46px;
    background-color: #41b3a5;
    border: 3px solid #41b3a5;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.imagenes {
    width: 100%;
    margin-top: 20px;
    transition: transform .2s;
}

.imagenes:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fotosCategorias {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    height: 100px;
    background-color: #41b3a5;
    margin-top: 60px;
}

.textoFooter {
    font-size: 11px;
    color: white;
    padding-top: 40px;
}

#resultados {
    margin-top: 20px;
}

.restoranes {
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
}

.nombreResto {
    font-size: 16px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin-bottom: 0px;
}

.lugarResto {
    font-size: 16px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    margin-bottom: 0px;
}

.categResto {
    font-size: 16px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    margin-bottom: 0px;
}

.rating {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #41b3a5;
    padding-left: 48%;
}