.logo {
    margin-top: 200px;
}

.imagenFondo {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #EC5B55;
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    animation-name: example;
    animation-duration: 5s;
}


/* .imagenFondo {
    background-image: url(../../img/foto1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
} */

@-webkit-keyframes example {
    from {
        background-color: #EC5B55;
    }
    to {
        background-color: #388174;
    }
    to {
        background-color: #49c5b6;
    }
}

@keyframes example {
    from {
        background-color: #EC5B55;
    }
    to {
        background-color: #388174;
    }
    to {
        background-color: #49c5b6;
    }
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}